.columna{
    div{ /*Div Padre*/
        display: flex;
        width: 100%;
        margin: 5px auto;
        .columna__div--img{
            width: 50%;
            img{
                width: 100%;
                border-radius: 10%;
            }
        }
        .columna__div--text{
            width: 50%;
            h1{
                text-align: center;
                margin-bottom: 30px;
                font-family: cursive;
                border: 2px solid rgb(125, 179, 125);
                border-radius: 20%;
                background-color: rgb(7, 29, 2);
            }
            ul{
                list-style: circle;
                li{
                    margin-left: 10px;
                    font-size: 2rem;
                }
            }
            color: white;
        }
    }
}
@media(max-width: 767px){
    .columna{
        text-align: center;
        div{
            display: inline-block;
            .columna__div--img{
                width: 100%;
            }
            .columna__div--text{
                width: 100%;
                h1{
                    margin: 5px auto;
                }
            }

        }
        
    }
}