* {
  margin: 0;
  padding: 0;
}

.body__principal {
  background-color: #2b412b;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.logo__a :hover {
  border: 2px dotted green;
}

.header_div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_div a {
  font-size: 1.5rem;
}

section {
  margin: 20px auto;
}

section div h5, section div p {
  background-color: black;
  border-radius: 30%;
}

section div img {
  height: 70vh;
}

.columna div {
  /*Div Padre*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5px auto;
}

.columna div .columna__div--img {
  width: 50%;
}

.columna div .columna__div--img img {
  width: 100%;
  border-radius: 10%;
}

.columna div .columna__div--text {
  width: 50%;
  color: white;
}

.columna div .columna__div--text h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: cursive;
  border: 2px solid #7db37d;
  border-radius: 20%;
  background-color: #071d02;
}

.columna div .columna__div--text ul {
  list-style: circle;
}

.columna div .columna__div--text ul li {
  margin-left: 10px;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .columna {
    text-align: center;
  }
  .columna div {
    display: inline-block;
  }
  .columna div .columna__div--img {
    width: 100%;
  }
  .columna div .columna__div--text {
    width: 100%;
  }
  .columna div .columna__div--text h1 {
    margin: 5px auto;
  }
}

footer {
  margin-top: 20px;
}

.footer_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 100%;
}

.footer_div ul {
  list-style: none;
}

.footer_div .footer_div-1 {
  width: 33.3%;
  text-align: center;
  border: 2px solid #062706;
}

.footer_div .footer_div-1 img {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid #2b412b;
  border-radius: 10%;
}

.footer_div .footer_div-1 p {
  font-size: 1.5rem;
  font-family: cursive;
}

.footer_div .footer_div-1 a {
  text-decoration: none;
  color: white;
}

.footer_div .footer_div-1 a :hover {
  color: #b5ffb5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.footer_div .footer_div-2 {
  width: 33.3%;
  border: 2px solid #062706;
}

.footer_div .footer_div-2 h2 {
  margin: 20px;
}

.footer_div .footer_div-2 a {
  color: white;
}

.footer_div .footer_div-2 a :hover {
  color: #b5ffb5;
}

.footer_div .footer_div-3 {
  width: 33.3%;
  border: 2px solid #062706;
}

.footer_div .footer_div-3 h2 {
  margin: 20px;
}

@media (max-width: 486px) {
  .footer_div .footer_div-1 {
    display: none;
  }
  .footer_div .footer_div-2 {
    width: 50%;
  }
  .footer_div .footer_div-3 {
    width: 50%;
  }
}

.contacto_main {
  background-image: url(img/Contacto2.jpg);
  margin-top: 20px;
  height: 650px;
  background-size: 100%;
}

.contacto_main div h1 {
  background-color: black;
  border: 2px solid #d1ffcb;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: cursive;
}

.contacto_main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}

.contacto_main-form .main_form-div {
  width: 50%;
}

.contacto_main-form .main_form-comentario {
  width: 50%;
}

.contacto_main-form .main_form-comentario textarea {
  height: 100%;
}

.main_form-texto {
  margin-top: 20px;
  color: white;
  background-color: black;
  text-align: center;
}

.main_form-texto ul {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */