/*INDEX - COLUMNA*/
.columna{
    .container-services{ /*Div Padre*/
        width: 100%;
        color: white;
        .columna__div--text{
            margin: 20px auto;
            .titulo-columna{
                h1{
                    width: 100%;
                    margin: 20px auto;
                    font-family: cursive;
                    text-shadow: 2px 2px 2px rgb(116, 116, 116);
                    letter-spacing: 3px;
                    word-spacing: 5px;
                }
            }
            .columna-acordion{
                width: 80%;
                margin: 0 20px;
            }
        }
        .columna__div--img{
            width: 50%;
            margin: 0 auto;
            img{
                width: 100%;
                height: 500px;
            }

        }
    }
}


 @media(max-width: 580px){
     .columna{
         .container-services{
             .columna__div--text{
                 width: 100%;
                 margin: 0;
                 h1{
                    margin: 0;
                 }
                 .columna-acordion{
                    width: 100%;
                    margin: 0;
                }
             }
         }
     }
 }

 @media(max-width: 720px){
    .columna{
        .container-services{
            .columna__div--img{
                width: 100%;
            }
        }
    }    
 }