/*INDEX - COLUMNA*/
.columna{
    div{ /*Div Padre*/
        display: flex;
        width: 100%;
        margin: 5px auto;
        .columna__div--img{
            width: 50%;
            img{
                width: 100%;
                border-radius: 20px 0 20px 0;
            }
        }
        .columna__div--text{
            display: inline-block;
            width: 50%;
            .titulo-columna{
                width: 100%;
                margin-left: 3px;
            }
            h1{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                font-family: cursive;
                border: 2px solid rgb(125, 179, 125);
                border-radius: 0 20px 0 20px;
                background-color: rgb(7, 29, 2);
            }
            ul{
                list-style: circle;
                li{
                    letter-spacing: 2px;
                    margin-left: 5px;
                    font-size: 2rem;
                    text-shadow: 2px 2px 2px rgb(72, 72, 72);
                }
            }
            color: white;
        }
    }
}
@media(max-width: 767px){
    .columna{
        width: 100%;
        div{
            display: inline-block;
            .columna__div--img{
                width: 100%;
            }
            .columna__div--text{
                width: 100%;
                h1{
                    margin: 5px auto;
                }
                li:hover{
                    color: rgb(125, 179, 125);
                }
            }

        }
    }
}