$green:   #198754;
*{
    margin: 0;
    padding: 0;
}

.body__principal{
    background-color: rgb(43, 65, 43)
}
.logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.logo__a{
    :hover{
        border: 2px dotted green;
    }
}
.header_div{
    justify-content: flex-end;
    a{
        font-size: 1.5rem;
    }
}
.posicion-fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #198754;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        text-shadow: 2px 2px 2px gray;
    }
}
.posicion-fixed:hover{
    background-color: white;
    a{
        color: #198754;
    }
}
@media(max-width:780px){
    .posicion-fixed{
        display: none;
    }
}