/*CONTACTO*/

.contacto_main{
    background:linear-gradient(90deg, #1B4D3E, #ACE1AF);
    margin-top: 20px;
    height: 650px;
    background-size: 100%;
    
    div{
        h1{
            background-color: black;
            border: 2px solid rgb(209, 255, 203);
            border-radius: 20px 0 20px 0;
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-family:cursive;
        }
    }
}
.form-flex{
    display: flex;
    width: 100%;
    margin: 20px 0;
    .form-label{
        width: 50%;
    }
    .form-mensaje{
        width: 50%;
        height: 270px;
        textarea{
            height: 100%;
        }
    }
}

.main_form-texto{
    margin-top: 20px;
    color: white;
    background-color: black;
    text-align: center;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
@media(max-width: 575px){
    .contacto_main{
        height: auto;
        padding: 10px;
    }
    .form-flex{
        display: inline-block;
        width: 100%;
    .form-label{
        width: 100%;

    }
    .form-mensaje{
        margin: 20px 0;
        width: 100%;
        height: 180px;
          textarea{
            height: 100%;
           }
     }    
    }
}