/*CONTACTO*/
.main-img{
    background-image: url("../img/contacto-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contacto-titulo{
    h1{
        color: white;
        margin: 20px auto;
        font-family: cursive;
        font-size: 2.5rem;
        text-shadow: 2px 2px 2px rgb(116, 116, 116);
        letter-spacing: 3px;
        word-spacing: 5px;
    }
}
.contacto-frase{
    h1{
        padding: 20px;
        text-align: center;
        color: white;
        font-size: 2rem;
        text-shadow: 2px 2px 2px black;
        letter-spacing: 3px;
        word-spacing: 5px;
    }
}
.contacto_main{
    margin-top: 20px;
    height: 650px;
    background-size: 100%;
}
.form-flex{
    display: flex;
    width: 100%;
    margin: 20px 0;
    .form-label{
        width: 50%;
    }
    .form-mensaje{
        width: 50%;
        height: 270px;
        textarea{
            height: 100%;
        }
    }
}

.main_form-texto{
    margin-top: 20px;
    color: white;
    background-color: black;
    text-align: center;
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: white;
    }
}
@media(max-width: 575px){
    .contacto_main{
        height: auto;
        padding: 10px;
    }
    .form-flex{
        display: inline-block;
        width: 100%;
    .form-label{
        width: 100%;

    }
    .form-mensaje{
        margin: 20px 0;
        width: 100%;
        height: 180px;
          textarea{
            height: 100%;
           }
     }    
    }
}