section{
    margin: 20px auto;
    div{
        .section_carousel-p{
            background-color: rgb(0, 0, 0);
            border-radius: 30%;
        }
        img{
            height: 70vh;
        }
    }
    
}
.section_sobremi{
    color: white;
    h1{
        margin-left: 5px;
        text-transform: uppercase;
    }
    h3{
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0;
    }
    p{
        font-size: 2rem;
    }
    .section_maps{
        width: 100%;
        height: 400px;
        text-align: center;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    .section_sobremi-contacto{
        width: 60%;
        div{
            background-color: black;
        }
        img{
            width: 100%;
        }
    }
    .section_contacto-num{
        display: flex;
        div{
            width: 50%;
        }
        p{
            text-align: center;
            margin: auto;
            font-size: 1.2rem;
        }
    }
}

/* CLIENTES */

#grilla_section{
    display: grid;
    grid-template-areas: 
    "alicia alicia2"
    "title title"
    "municipio municipioText"
    "textcli textcli"
    "muniText2 municipio2"
    "textCoun textCoun"
    "img1 img2"
    "textCoun2 textCoun2"
    "imgdes1 imgdes2"
    ;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;

    .trabajo_alicia{
        width: 100%;
        grid-area: alicia;
    }
    .trabajo_alicia2{
        width: 100%;
        grid-area: alicia2;
    }
    .trabajo_municipio{
        width: 100%;
        grid-area: municipio;
    }
    .trabajo_municipio-text{
        width: 100%;
        grid-area: municipioText;
        
    }
    .trabajo_municipio2{
        width: 100%;
        grid-area: municipio2;
    }
    .trabajo_municipio-text2{
        width: 100%;
        grid-area: muniText2;
    }
    .trabajo_country{
        width: 100%;
        grid-area: img1;
    }
    .trabajo_country2{
        width: 100%;
        grid-area: img2;
    }
    .trabajo_country-despues{
        width: 100%;
        grid-area: imgdes1;
    }
    .trabajo_country-despues2{
        width: 100%;
        grid-area: imgdes2;
    }
    .titulo_muni{
        width: 100%;
        grid-area: title;
    }
    .title_country{
        width: 100%;
        grid-area: textCoun;
    }
    .title_country2{
        width: 100%;
        grid-area: textCoun2;
    }
    .title_clientes{
        width: 100%;
        grid-area: textcli;
    }
    p{
        color: white;
        font-size: 2.4rem;
    }
    img{
        width: 100%;
    }  
    h1{
        background-color: black;
        border: 2px solid white;
        text-align: center;
        font-size: 2.5rem;
        font-family: cursive;
        color: white;
    }
    h1:hover{
        background-color: rgba(13, 255, 0, 0.064);
    }
    
}

@media(max-width: 1106px){
    #grilla_section{
        padding: 20px;
        grid-template-areas: 
        "alicia"
        "alicia2"
        "title"
        "municipio"
        "municipioText"
        "textcli"
        "municipio2"
        "muniText2"
        "textCoun"
        "img1"
        "img2"
        "textCoun2"
        "imgdes1"
        "imgdes2"
        ;
    grid-template-columns: 100%;
    }
}
#medios-de-pago{
    ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }
    li{
        margin: 0 20px;
    }
    img{
        width: 50px;
        height: 50px;
        margin: 5px 0 ;
    }
    .voSosUnBoton{
        text-align: center;
        margin: 10px 0;
        color: white;
        font-size: 2rem;
        font-family: cursive;
    }
}
@media(max-width: 758px){
    #medios-de-pago{
        .desaparecer-758px{
            display: none;
        }
        img{
            width: 50px;
        }
    }
}