* {
  margin: 0;
  padding: 0;
}

.body__principal {
  background-color: #2b412b;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.logo__a :hover {
  border: 2px dotted green;
}

.header_div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_div a {
  font-size: 1.5rem;
}

section {
  margin: 20px auto;
}

section div .section_carousel-p {
  background-color: black;
  border-radius: 30%;
}

section div img {
  height: 70vh;
}

.section_sobremi {
  color: white;
}

.section_sobremi h1 {
  margin-left: 5px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #646464;
  text-decoration: underline;
}

.section_sobremi h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  text-shadow: 2px 2px 1px #465946;
}

.section_sobremi p {
  font-size: 2rem;
  text-shadow: 2px 2px 4px #424942;
}

.section_sobremi .section_maps {
  width: 100%;
  height: 480px;
  text-align: center;
}

.section_sobremi .section_maps iframe {
  width: 100%;
  height: 100%;
}

.section_sobremi .section_sobremi-contacto {
  width: 100%;
}

.section_sobremi .section_sobremi-contacto div {
  background-color: black;
}

.section_sobremi .section_sobremi-contacto img {
  width: 100%;
}

.section_sobremi .section_contacto-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_sobremi .section_contacto-num div {
  width: 50%;
}

.section_sobremi .section_contacto-num p {
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
}

.section_sobremi .section_contacto-num p:hover {
  color: black;
  background-color: white;
}

/* CLIENTES */
#grilla_section {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "alicia alicia2" "title title" "municipio municipioText" "textcli textcli" "muniText2 municipio2" "textCoun textCoun" "img1 img2" "textCoun2 textCoun2" "imgdes1 imgdes2";
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
}

#grilla_section .trabajo_alicia {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: alicia;
}

#grilla_section .trabajo_alicia2 {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: alicia2;
}

#grilla_section .trabajo_municipio {
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: municipio;
}

#grilla_section .trabajo_municipio-text {
  width: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: municipioText;
}

#grilla_section .trabajo_municipio2 {
  width: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: municipio2;
}

#grilla_section .trabajo_municipio-text2 {
  width: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: muniText2;
}

#grilla_section .trabajo_country {
  width: 100%;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: img1;
}

#grilla_section .trabajo_country2 {
  width: 100%;
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: img2;
}

#grilla_section .trabajo_country-despues {
  width: 100%;
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: imgdes1;
}

#grilla_section .trabajo_country-despues2 {
  width: 100%;
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  grid-area: imgdes2;
}

#grilla_section .titulo_muni {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
}

#grilla_section .title_country {
  width: 100%;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textCoun;
}

#grilla_section .title_country2 {
  width: 100%;
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textCoun2;
}

#grilla_section .title_clientes {
  width: 100%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textcli;
}

#grilla_section p {
  color: white;
  font-size: 2.4rem;
  text-shadow: 2px 2px 2px #1d371d;
  letter-spacing: 1px;
  line-height: 2;
}

#grilla_section img {
  width: 100%;
}

#grilla_section h1 {
  background-color: black;
  border: 2px solid white;
  border-radius: 20px 0 20px 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: cursive;
  color: white;
  text-shadow: 2px 2px 2px #747474;
  letter-spacing: 3px;
  word-spacing: 5px;
}

#grilla_section h1:hover {
  background-color: rgba(13, 255, 0, 0.026);
}

@media (max-width: 1106px) {
  #grilla_section {
    padding: 20px;
        grid-template-areas: "alicia" "alicia2" "title" "municipio" "municipioText" "textcli" "municipio2" "muniText2" "textCoun" "img1" "img2" "textCoun2" "imgdes1" "imgdes2";
    grid-row-gap: 15px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

#medios-de-pago ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

#medios-de-pago li {
  margin: 0 20px;
}

#medios-de-pago img {
  width: 50px;
  height: 50px;
  margin: 5px 0;
}

#medios-de-pago .voSosUnBoton {
  text-align: center;
  margin: 10px 0;
  color: white;
  font-size: 2rem;
  font-family: cursive;
}

#medios-de-pago .voSosUnBoton h1:hover {
  color: #b5ffb5;
}

@media (max-width: 758px) {
  #medios-de-pago .desaparecer-758px {
    display: none;
  }
  #medios-de-pago img {
    width: 50px;
  }
}

.columna div {
  /*Div Padre*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5px auto;
}

.columna div .columna__div--img {
  width: 50%;
}

.columna div .columna__div--img img {
  width: 100%;
  border-radius: 20px 0 20px 0;
}

.columna div .columna__div--text {
  display: inline-block;
  width: 50%;
  color: white;
}

.columna div .columna__div--text .titulo-columna {
  width: 100%;
  margin-left: 3px;
}

.columna div .columna__div--text h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-family: cursive;
  border: 2px solid #7db37d;
  border-radius: 0 20px 0 20px;
  background-color: #071d02;
}

.columna div .columna__div--text ul {
  list-style: circle;
}

.columna div .columna__div--text ul li {
  letter-spacing: 2px;
  margin-left: 5px;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #484848;
}

@media (max-width: 767px) {
  .columna {
    width: 100%;
  }
  .columna div {
    display: inline-block;
  }
  .columna div .columna__div--img {
    width: 100%;
  }
  .columna div .columna__div--text {
    width: 100%;
  }
  .columna div .columna__div--text h1 {
    margin: 5px auto;
  }
  .columna div .columna__div--text li:hover {
    color: #7db37d;
  }
}

footer {
  margin-top: 20px;
}

.footer_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 100%;
}

.footer_div ul {
  list-style: none;
}

.footer_div .footer_div-1 {
  width: 33.3%;
  text-align: center;
  border: 2px solid #062706;
}

.footer_div .footer_div-1 img {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 5px solid #2b412b;
  border-radius: 10%;
}

.footer_div .footer_div-1 p {
  font-size: 1.5rem;
  font-family: cursive;
}

.footer_div .footer_div-1 a {
  text-decoration: none;
  color: white;
}

.footer_div .footer_div-1 a :hover {
  color: #b5ffb5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.footer_div .footer_div-2 {
  width: 33.3%;
  border: 2px solid #062706;
}

.footer_div .footer_div-2 h2 {
  margin: 20px;
}

.footer_div .footer_div-2 a {
  color: white;
}

.footer_div .footer_div-2 a :hover {
  color: #b5ffb5;
}

.footer_div .footer_div-3 {
  width: 33.3%;
  border: 2px solid #062706;
}

.footer_div .footer_div-3 h2 {
  margin: 20px;
}

@media (max-width: 486px) {
  .footer_div .footer_div-1 {
    display: none;
  }
  .footer_div .footer_div-2 {
    width: 50%;
  }
  .footer_div .footer_div-3 {
    width: 50%;
  }
}

.contacto_main {
  background: -webkit-gradient(linear, left top, left bottom, from(#002e00), to(white));
  background: linear-gradient(#002e00, white);
  margin-top: 20px;
  height: 650px;
  background-size: 100%;
}

.contacto_main div h1 {
  background-color: black;
  border: 2px solid #d1ffcb;
  border-radius: 20px 0 20px 0;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: cursive;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.form-flex .form-label {
  width: 50%;
}

.form-flex .form-mensaje {
  width: 50%;
  height: 270px;
}

.form-flex .form-mensaje textarea {
  height: 100%;
}

.main_form-texto {
  margin-top: 20px;
  color: white;
  background-color: black;
  text-align: center;
}

.main_form-texto ul {
  list-style: none;
}

.main_form-texto a {
  text-decoration: none;
  color: white;
}

@media (max-width: 575px) {
  .contacto_main {
    height: auto;
    padding: 10px;
  }
  .form-flex {
    display: inline-block;
    width: 100%;
  }
  .form-flex .form-label {
    width: 100%;
  }
  .form-flex .form-mensaje {
    margin: 20px 0;
    width: 100%;
    height: 180px;
  }
  .form-flex .form-mensaje textarea {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */